---
import ThemeToggle from './ThemeToggle.astro';
---

<footer>
    <div class="container">
        <div class="footer-top">
            <div class="footer-left">
                <a href="mailto:contact@globalstrategic.tech" class="contact-info">contact@globalstrategic.tech</a>
                <p>© 2026 Global Strategic Technologies</p>
            </div>
            <div class="footer-right">
                <div class="footer-links">
                    <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                    <a href="#privacy">Privacy</a>
                </div>
                <ThemeToggle />
            </div>
        </div>
    </div>
</footer>
